# binaries
bin/
dist/
*.out

# environment
.env
.env.*
!.env.*.example
.venv
venv
# IDE
.zed/
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Python related
__pycache__/
.ruff_cache
.mypy_cache

# logs
*.log

*.pem
*.key
*.crt
.env
.jbeval
_tmp
/.mid.env
